* {box-sizing: border-box}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  width: 60px;
  background-color: dodgerblue;
  height: 100%;
  position: fixed;
  overflow: auto;
}
li a{
  display: block;
  color: navy;
}
li a:hover {
  background-color: midnightblue;
  color: white;
}
